<!--home start-->
<div class="loginstyle" ng-if="logindiv">
    <div class="row loginstylerow" >
        <div class="col-md-6">
            <img src="images/logo_sketched.png">
        </div>
        <div class="col-md-6 row">
            <div class="col-md-3 col-xs-0"></div>
            <div class="col-md-6 col-xs-12">
                <h3> {{form.toptext}} <button class="btn btn-danger signupbtn" ng-click="changetype()">{{form.topbtn}}</button></h3>


                <form class="textcenter">
                    <div class="form-group textcenter">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" ng-model="user.email">
                    </div>
                    <div class="form-group textcenter">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" ng-model="user.password">
                    </div>
                    
                    <div class="form-group textcenter" ng-if="form.type == 0">
                        <label for="exampleInputPhone">Phone</label>
                        <input type="tel" class="form-control" id="exampleInputPhone" placeholder="Phone" ng-model="user.contact">
                    </div>

                    <div class="col-md-offset-4 col-md-4 textcenter">
                        <a class="btn btn-info btn-lg btnround" ng-click="signin()"><i class="fa fa-sign-in"></i>{{form.mainbtn}}</a>
                    </div>
                </form>
                <p style="color:red">{{errormsg}}</p>
            </div>
            <div class="col-md-3"></div>

        </div>
    </div>

    <a ng-click="closelogindiv()" class="col-md-offset-5 col-md-6 upspacer">Skip and Enter Website</a>


</div>
<div id="home">
    <div class="headerLine" style="height:738px">
        <div id="wowslider-container1" style="z-index:0">
            <div class="ws_images" style="height:650px">
                <ul>
                    <li><img src="data1/images/pic1.jpg" alt="Idea" title="" id="wows1_0" />
                    </li>
                    <li>
                        <img src="data1/images/pic2.jpg" alt="Startup" title="" id="wows1_1" />
                    </li>
                    <li><img src="data1/images/pic3.jpg" alt="Success" title="" id="wows1_2" />
                    </li>
                </ul>
            </div>
<!--
            <div class="ws_bullets">
                <div>
                    <a href="#" title="Idea"><span><img src="data1/tooltips/pic1.jpg" alt="Idea"/>1</span></a>
                    <a href="#" title="Startup"><span><img src="data1/tooltips/pic2.jpg" alt="Startup"/>2</span></a>
                    <a href="#" title="Success"><span><img src="data1/tooltips/pic3.jpg" alt="Success"/>3</span></a>
                </div>
            </div>
-->
            <div class="ws_script" style="position:absolute;left:-99%"></div>
            <div class="ws_shadow"></div>
        </div>
        <script type="text/javascript" src="engine1/wowslider.js"></script>
        <script type="text/javascript" src="engine1/script.js"></script>
        <div id="menuF" class="fixed transbg">
            <div class="container" style="">
                <div class="row">
                    <div class="logo col-md-4">
                        <div>
                            <a href="#">
                                <img src="images/logo.png">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="navmenu" style="text-align: center;">
                            <ul id="menu" style=" margin-top: 2%;">
                                <li class="active"><a href="#home">Home</a>
                                </li>
                                <li><a href="#aboutreach">About</a>
                                </li>
                                <li><a href="#events">Events</a>
                                </li>
                                <li><a href="#news">News</a>
                                </li>
                                <li><a href="#gallery">Gallery</a>
                                </li>
                                <li><a href="#video">Videos</a>
                                </li>
                                <li class="last"><a href="#contact">Contact</a>
                                </li>
                                <!--<li><a href="#events">Features</a></li-->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="container" id="aboutreach">
        <div class="row">
            <div class="col-md-4 project">
                <h3 id="counter">0</h3>
                <h4>Students Reached</h4>
                <p>We try to reach as many students as possible through schools and colleges all over India </p>
            </div>
            <div class="col-md-4 project">
                <h3 id="counter1">0</h3>
                <h4>Incubated Startups</h4>
                <p>Many starrtups have found success incubated with us at Venture Startups </p>
            </div>
            <div class="col-md-4 project">
                <h3 id="counter2" style="margin-left: 20px;">0</h3>
                <h4 style="margin-left: 20px;">Programs Organized</h4>
                <p>We have organized many successfull programs including seminars, presentations etc. </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 cBusiness">
                <h3>Something about us...</h3>
                <h4>Venture Startups is a "not for profit" organization registered in 2014. It is based at Hyderabad.
                <br>
                Venture startups is a platform to empower the willing entrepreneur with both skills and resources to ensure the success of his mission.

We recognize the immense potential of working professionals and enterprising students, who seek to channel their intellectual and technological

potential for economic benefit. And we understand the social, economic, and cultural context that influences the exploration.

Consequently, we propose a platform that nurtures the ideas, provides the resources, and trains in the skills that culminate in entrepreneurship.

For working professionals, this platform acts as a mid-stage whereas for students, this platform acts as an incubator.</h4>
                <h4></h4>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 centPic">
                <h4 class="cBusiness"></h4>
            </div>
        </div>
    </div>
</div>

<!--about start-->

<div id="about">
    <div class="line2">
        <div class="container">
            <div class="row Fresh">
                <h2 class="boquet">Bouquet Of Deliverables</h2>

                <div class="col-md-4 Des">
                    <i class="fa fa-heart"></i>
                    <h4>Creativity</h4>
                    <p>Creativity is putting your imagination to work, and it's produced the most extraordinary results in human culture. </p>
                </div>
                <div class="col-md-4 Ver">
                    <i class="fa fa-lightbulb-o"></i>
                    <h4>Innovation</h4>
                    <p>Innovation is taking two things that already exist and putting them together in a new way </p>
                </div>
                <div class="col-md-4 Fully">
                    <i class="fa fa-briefcase"></i>
                    <h4>Entrepreneurship</h4>
                    <p>The best time to plant a tree was 20 years ago. The second best time is now. It’s not about ideas. It’s about making ideas happen</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 wwa">
                <span name="about"></span>
                <h3>Who We Are? Meet Our Team!</h3>
                <h4>Venture Startups is promoted by visionaries, entrepreneurs, and technocrats. The chief promoter is Mr. R. Ramkumar.

Mr. Ramkumar holds an MBA in HRD, LLM in Buiness Laws, and qualified for Ph.D in Microeconomics from BITS. He is a polyglot, who lived in

India, US, Singapore, and the Middle East. He is based out of Mumbai, India.

Ms. Anita Sakuru, our co-promoter, is a technology graduate from BITS and Kellogs School of Management. She promoted successful IT

companies in India and the US. She is based in Bangalore.

Mr. Yogesh Bala, our co-promoter, is a professional architect. He is a successful entrepreneur with 23 years of track record. He lives in

Hyderabad.</h4>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="teamdiv">

            <div class="col-md-3 b1 member teammemberdiv" ng-repeat="number in teamarray">
                <div class="teammemberdivinner">
                    <img class="img-responsive teamphoto" src="images/picTeam/{{team[number].photo}}">
                    <h4>{{team[number].name}}</h4>
                    <h5>{{team[number].designation}}</h5>
                    <p>{{team[number].desc}}</p>
                    <div>
                        <div style="display: inline-block; padding: 10px;" ng-if="member.facebook != ''"><a href="{{team[number].facebook}}"><i class="fa fa-facebook-square" style="font-size: xx-large;"></i></a>
                        </div>
                        <div style="display: inline-block; padding: 10px;" ng-if="member.twitter != ''"><a href="{{team[number].twitter}}"><i class="fa fa-twitter" style="font-size: xx-large;" ></i></a>
                        </div>
                        <div style="display: inline-block; padding: 10px;" ng-if="member.google != ''"><a href="{{team[number].google}}"><i class="fa fa-google-plus-square" style="font-size: xx-large;"></i></a>
                        </div>
                        <div style="display: inline-block; padding: 10px;" ng-if="member.linkedin != ''"><a href="{{team[number].linkedin}}"><i class="fa fa-linkedin" style="font-size: xx-large;"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--        <button ng-click="gototeam()">CHANGE</button>-->
        <div class="container">
            <!--
            <div class="row cBtn">
                <div class="col-md-12" style="text-align: center; margin-bottom: -90px; z-index: 3;">
                    <ul class="mNews">
                        <li class="dowbload bhide2"><a ng-click="gototeam()"><i class="fa fa-arrow-down"></i>View Full team</a></li>
                    </ul>

                </div>
            </div>
-->
            <div class="row">
                <div class="col-md-offset-4 col-md-4 textcenter">
                    <a class="btn btn-info btn-lg btnround" ng-click="gototeam()"><i class="fa fa-arrow-down"></i>View Full Team</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 hr1">
                <hr/>
            </div>
        </div>
    </div>



    <div class="container">
        <div class="row aboutUs">
            <div class="col-md-12 ">
                <h3>People Who inspire us</h3>
            </div>
        </div>
    </div>

    <div style="position: relative;">

        <div class="container">
            <div class="row about">
                <div class="col-md-6">
                    <div class="about1">
                        <img class="pic1Ab" src="images/picAbout/{{people[0].photo}}" style="max-height: 200px; !important">
                        <h3>{{people[0].name}}</h3>
                        <p>{{people[0].content}}</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="about2">
                        <img class="pic2Ab" src="images/picAbout/{{people[1].photo}}" style="max-height: 200px;">
                        <h3>{{people[1].name}}</h3>
                        <p>{{people[1].content}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="horL"></div>

        <div class="container">
            <div class="row about">
                <div class="col-md-6">
                    <div class="about1">
                        <img class="pic1Ab" src="images/picAbout/{{people[2].photo}}" style="max-height: 200px; !important">
                        <h3>{{people[2].name}}</h3>
                        <p>{{people[2].content}}</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="about2">
                        <img class="pic2Ab" src="images/picAbout/{{people[3].photo}}" style="max-height: 200px;">
                        <h3>{{people[3].name}}</h3>
                        <p>{{people[3].content}}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!--EVENTS-->
<div id="events">
    <div class="line4">
        <div class="container">
            <div class="row Ama">
                <div class="col-md-12">
                    <h3>Venture Startup Events</h3>
                    <p>Get a glimpse of all the shows and events by Venture Startups</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h2 class="textcenter">Upcoming Events</h2>
        <hr class="hrNews">
        <div class="row news downspacer">
            <div class="col-md-6  text-left" ng-repeat="event in events">
                <div class="row">
                    <div class="col-md-6">
                        <img class="img-responsive picsGall" src="images/eventpic.png" />
                    </div>
                    <div class="col-md-6">
                        <h3 class="eventname">Event Name</h3>
                        <hr class="hrNews">
                        <p class="textcenter"><i class="fa fa-calendar"></i> 24th April, 2016
                        </p>
                        <p class="textcenter">
                            <srong class="eventlabels">Venue:</srong> Event Venue</p>
                        <p class="textcenter">
                            <srong class="eventlabels">Purpose:</srong> Event Purpose</p>
                        <p class="textcenter">
                            <srong class="eventlabels">Guest Speaker:</srong> Event guest speaker</p>
                        <p class="textcenter">
                            <srong class="eventlabels">Tags:</srong> Event Tag List</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h2 class="textcenter">Past Events</h2>
        <hr class="hrNews">
        <div class="row news downspacer">
            <div class="col-md-6  text-left" ng-repeat="event in events">
                <div class="row">
                    <div class="col-md-6">
                        <img class="img-responsive picsGall" src="images/eventpic.png" />
                    </div>
                    <div class="col-md-6">
                        <h3 class="eventname">Event Name</h3>
                        <hr class="hrNews">
                        <p class="textcenter"><i class="fa fa-calendar"></i> 24th April, 2016
                        </p>
                        <p class="textcenter">
                            <srong class="eventlabels">Venue:</srong> Event Venue</p>
                        <p class="textcenter">
                            <srong class="eventlabels">Purpose:</srong> Event Purpose</p>
                        <p class="textcenter">
                            <srong class="eventlabels">Guest Speaker:</srong> Event guest speaker</p>
                        <p class="textcenter">
                            <srong class="eventlabels">Tags:</srong> Event Tag List</p>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="row">
            <div class="col-md-offset-4 col-md-4 textcenter downspacer">
                <a class="btn btn-info btn-lg btnround" ng-click="gotoevents()"><i class="fa fa-arrow-down"></i>Load More Events</a>
            </div>
        </div>
    </div>
</div>


<!--news start-->

<div id="news">
    <div class="line4">
        <div class="container">
            <div class="row Ama">
                <div class="col-md-12 upspacer">
                    <h3>What&rsquo;s New?</h3>
                    <p>Get the latest news from our newsletter</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <h2 class="textcenter">News</h2>
            <hr class="hrNews">
        </div>
        <div class="row news">
            <div class="col-md-3  text-left" ng-repeat="newsletter in newsletters">
                <img class="img-responsive picsGall" src="{{newsletter.image}}" />
                <h3><a href="#"><i class="fa fa-calendar"></i> {{newsletter.month}}, {{newsletter.year}}</a></h3>
                <hr class="hrNews">
            </div>
        </div>
    </div>

    <div class="container">

        <div class="row">
            <div class="col-md-offset-4 col-md-4 textcenter">
                <a class="btn btn-info btn-lg btnround" ng-click="gotonewsletters()"><i class="fa fa-arrow-down"></i>Load More News</a>
            </div>
        </div>
    </div>
</div>

<!--project start-->
<div id="gallery" style="margin-top: 70px;">
    <div class="line3">
        <div class="container">
            <div id="project1"></div>
            <div class="row Ama">
                <div class="col-md-12">
                    <span name="projects" id="projectss"></span>
                    <h3>Moments we captured</h3>
                    <p>Check out our gallery of images</p>
                </div>
            </div>
        </div>
    </div>


    <div class="container">

        <div class="row">
            <!-- filter_block -->
            <!--<div id="options" class="col-md-12" style="text-align: center;">
                <ul id="filter" class="option-set" data-option-key="filter">
                    <li><a class="selected" href="#filter" data-option-value="*" class="current">All Works</a></li>
                    <li><a href="#filter" data-option-value=".polygraphy">Polygraphy</a></li>
                    <li><a href="#filter" data-option-value=".branding">Branding</a></li>
                    <li><a href="#filter" data-option-value=".web">Web UI</a></li>
                    <li><a href="#filter" data-option-value=".text_styles">Text Styles</a></li>
                </ul>
            </div>-->
            <!-- //filter_block -->
            <div class="row">
                <h2 class="textcenter">Images</h2>
                <hr class="hrNews">
            </div>

            <!--
            <div class="container">
                <div class="row">
                    <div class="element col-sm-4 gall branding" style="height:280px" ng-repeat="image in galimages">
                        <a style="height:85%" class="" href="newsletters/cover1.png">
                            <img class="img-responsive picsGall galimage" src="newsletters/cover1.png" style="height:85% !important" />
                        </a>
                        <div class="view project_descr ">
                            <h3><a href="#">Image Title</a></h3>
                        </div>
                </div>
            </div>
            </div>
-->


            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header textcenter">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                            </button>



                            <h4 class="modal-title" id="myModalLabel">IMAGE TITLE</h4>
                        </div>
                        <div class="modal-body textcenter" style="height:auto; max-height:700px">
                            <img class=" picsGall" ng-src="{{modalimage}}" style="max-height: 600px; position:relative;">

                            <button type="button" class="btnnextprev" aria-label="Previous" style="margin-left: -436px; margin-top: 248px; position:absolute;" ng-click="previousmodalimage()"><i class="fa fa-angle-left iconsize" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="btnnextprev" aria-label="Next" style="margin-left: -41px; margin-top:248px; position:absolute;" ng-click="nextmodalimage()"><i class="fa fa-angle-right iconsize" aria-hidden="true"></i>
                            </button>

                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="element col-sm-4 gall branding" style="height:280px" data-toggle="modal" data-target="#myModal" ng-click="showmodal($index)" ng-repeat="image in galimages">
                        <img class="img-responsive picsGall galimage" ng-src="{{image.image}}" style="height:85% !important" />
                        <div class="view project_descr ">
                            <h3 class="imagetext">{{image.title}}</h3>
                        </div>
                    </div>
                </div>
            </div>




            <div class="container">
                <!--<div class="row cBtn">
                    <div class="col-md-12" ng-click="gotophotos()" style="text-align: center; z-index: 3;">
                        <button class="mNews">
                            <li class="dowbload bhide2"><a><i class="fa fa-arrow-down"></i>View Full team</a></li>
                        </button>

                    </div>
                </div>-->
                <div class="row">
                    <div class="col-md-offset-4 col-md-4 textcenter">
                        <a class="btn btn-info btn-lg btnround" ng-click="gotophotos()"><i class="fa fa-arrow-down"></i>Load More Photos</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div id="video" style="margin-top: 70px;">



        <div class="line4">
            <div class="container">
                <div class="row Ama">
                    <div class="col-md-12 upspacer">
                        <h3>Motion Pictures</h3>

                    </div>
                </div>
            </div>
        </div>


        <div class="container upspacer">
            <div class="row">
                <h2 class="textcenter">Videos</h2>
                <hr class="hrNews">
            </div>
            <div class="portfolio_block columns3   pretty" data-animated="fadeIn">
                <div class="element col-sm-4   gall branding" style="height:280px" ng-repeat="video in videos">
                    <a style="height:85%" class="plS" href="newsletters/cover1.png" rel="prettyPhoto[gallery2]">
                        <img class="img-responsive picsGall galimage" src="newsletters/cover1.png" alt="pic1 Gallery" />
                    </a>
                    <div class="view project_descr ">
                        <h3><a href="#">Video Title</a></h3>
                    </div>
                </div>
            </div>
            <div class="container">
                <!--
            <div class="row">
                <div class="col-md-12" style="text-align: center; z-index: 3;">
                    <a ng-click="gotovideos()">
                        <ul class="mNews">
                            <li class="dowbload bhide2"><i class="fa fa-arrow-down"></i>Load More Videos</li>
                        </ul>
                    </a>

                </div>
            </div>
-->
                <div class="row">
                    <div class="col-md-offset-4 col-md-4 textcenter">
                        <a class="btn btn-info btn-lg btnround" ng-click="gotovideos()"><i class="fa fa-arrow-down"></i>Load More Videos</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--contact start-->

<div id="contact" style="margin-top: 70px;">
    <div class="line5">
        <div class="container">
            <div class="row Ama">
                <div class="col-md-12">
                    <h3>Got a Question? We&rsquo;re Here to Help!</h3>
                    <p>Get in touch with us</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="margin-bottom:100px">
        <div class="row">
            <div class="col-md-7 col-xs-12 forma">
                <form class="col-md-12 col-xs-12 row">
                    <div class="col-md-6 col-xs-12">
                        <input type="text" class=" name" name='name' placeholder='Name *' />
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <input type="text" class="Email" name='Email' placeholder='Email *' />
                    </div>
                    <div class="col-md-12 col-xs-12">
                        <select name='Subject' placeholder='Subject' class="selectfield ">
                            <option>Feedback about website</option>
                            <option>Feedback about programs</option>
                            <option>Appreciation</option>
                            <option>Looking for mentoring or advice</option>
                            <option>Collaboration</option>
                            <option>Invitation</option>
                            <option>Other</option>
                        </select>
                    </div>
                    <div class="col-md-12 col-xs-12">
                        <textarea type="text" class="col-md-12 col-xs-12 Message" name='Message' placeholder='Message *'></textarea>
                    </div>



                    <div class="cBtn col-md-12 col-xs-12">
                        <ul>
                            <li class="clear"><a href="#"><i class="fa fa-times"></i>clear form</a>
                            </li>
                            <li class="send"><a href="#"><i class="fa fa-share"></i>Send Message</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
            <div class="col-md-5 col-xs-12 cont">
                <ul>
                    <li><i class="fa fa-home"></i>Flat No 319, Block A, Western Plaza, </br> OU Colony, Shaikpet, Hyderabad - 08</li>
                    <li><i class="fa fa-phone"></i>+91 7799617889</li>
                    <li><a href="#"><i class="fa fa-envelope"></i>contactus@venturestartups.in</li></a>
                        <li><a href="https://www.linkedin.com/company/venture-startups"><i class="fa fa-linkedin"></i>Venture Startups</li></a>
                            <li><a href="https://twitter.com/venturestartup"><i class="fa fa-twitter"></i>/venturestartup</li></a>
                                <li><a href="https://www.facebook.com/venturestartups"><i class="fa fa-facebook-square"></i>/venturestartups</li></a>
                                    <li><a href="http://www.meetup.com/VentureStartups"><i class="fa fa-calendar"></i>Meetup - Venture Startups</li></a>
                </ul>
            </div>
        </div>
    </div>
    <div class="line6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30453.908770256396!2d78.36975684469651!3d17.424328132155658!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0xf8bd2d84dadf80b7!2sWestern+Plaza!5e0!3m2!1sen!2sin!4v1459114514123" width="100%" height="750" frameborder="0" style="border:0"></iframe>
    </div>
    <div class="container">
        <div class="row ftext">
            <div class="col-md-12">
                <a id="features"></a>
                <h3>We Care About Our Clients and Can Make Their Life Easier!</h3>
                <p>Feel free to contact us for help with your startup </p>
            </div>
        </div>
    </div>
    <div class="line7">
        <div class="container">
            <div class="row footer">
                <div class="col-md-12">
                    <h3>Subscribe for Our Newsletter!</h3>
                    <p>Subscribe to our newsletter email to get notification about fresh news, latest promos, giveaways and free stuff from Venture Startups. Stay always up-to-date!</p>
                    <div class="fr">
                        <div style="display: inline-block;">
                            <input class="col-md-6 fEmail" name='Email' placeholder='Enter Your Email' />
                            <a href="#" class="subS">Subscribe</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="lineBlack">
        <div class="container">
            <div class="row downLine">
                <div class="col-md-12 text-right">
                    <!--input  id="searchPattern" type="search" name="pattern" value="Search the Site" onblur="if(this.value=='') {this.value='Search the Site'; }" onfocus="if(this.value =='Search the Site' ) this.value='';this.style.fontStyle='normal';" style="font-style: normal;"/-->
                    <!--<input id="searchPattern" type="search" placeholder="Search the Site" /><i class="glyphicon glyphicon-search" style="font-size: 13px; color:#a5a5a5;" id="iS"></i>-->
                </div>
                <div class="col-md-6 text-left copy">
                    <p>Copyright &copy; 2016 Pixolo Webworks. All Rights Reserved.</p>
                </div>
                <div class="col-md-6 text-right dm">
                    <ul id="downMenu">
                        <li class="active"><a href="#home">Home</a>
                        </li>
                        <li><a href="#about">About</a>
                        </li>
                        <li><a href="#events">Events</a>
                        </li>
                        <li><a href="#news">News</a>
                        </li>
                        <li><a href="#gallery">Gallery</a>
                        </li>
                        <li class="last"><a href="#contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>






<script src="js/jquery.prettyPhoto.js" type="text/javascript" charset="utf-8"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.slicknav.js"></script>
<!--<script type="text/javascript">
    $(document).ready(function () {

        var $menu = $("#menuF");

        $(window).scroll(function () {
            if ($(this).scrollTop() > 100 && $menu.hasClass("default")) {
                $menu.fadeOut('fast', function () {
                    $(this).removeClass("default")
                        .addClass("fixed transbg")
                        .fadeIn('fast');
                });
            } else if ($(this).scrollTop() <= 100 && $menu.hasClass("fixed")) {
                $menu.fadeOut('fast', function () {
                    $(this).removeClass("fixed transbg")
                        .addClass("default")
                        .fadeIn('fast');
                });
            }
        });
    });
    //jQuery
</script>-->
<script>
    $(document).ready(function () {
        $(".bhide").click(function () {
            $(".hideObj").slideDown();
            $(this).hide(); //.attr()
            return false;
        });
        $(".bhide2").click(function () {
            $(".container.hideObj2").slideDown();
            $(this).hide(); // .attr()
            return false;
        });

        $('.heart').mouseover(function () {
            $(this).find('i').removeClass('fa-heart-o').addClass('fa-heart');
        }).mouseout(function () {
            $(this).find('i').removeClass('fa-heart').addClass('fa-heart-o');
        });

        function sdf_FTS(_number, _decimal, _separator) {
            var decimal = (typeof (_decimal) != 'undefined') ? _decimal : 2;
            var separator = (typeof (_separator) != 'undefined') ? _separator : '';
            var r = parseFloat(_number)
            var exp10 = Math.pow(10, decimal);
            r = Math.round(r * exp10) / exp10;
            rr = Number(r).toFixed(decimal).toString().split('.');
            b = rr[0].replace(/(\d{1,3}(?=(\d{3})+(?:\.\d|\b)))/g, "\$1" + separator);
            r = (rr[1] ? b + '.' + rr[1] : b);

            return r;
        }

        setTimeout(function () {
            $('#counter').text('0');
            $('#counter1').text('0');
            $('#counter2').text('0');
            setInterval(function () {

                var curval = parseInt($('#counter').text());
                var curval1 = parseInt($('#counter1').text().replace(' ', ''));
                var curval2 = parseInt($('#counter2').text());
                if (curval <= 12800) {
                    $('#counter').text(curval + 5);
                }
                if (curval1 <= 26) {
                    $('#counter1').text(sdf_FTS((curval1 + 1), 0, ' '));
                }
                if (curval2 <= 54) {
                    $('#counter2').text(curval2 + 1);
                }
            }, 2);

        }, 500);
    });
</script>
<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery('#menu').slicknav();
        console.log("initiated slick nav");

    });
</script>


<script>
    window.sr = ScrollReveal({
        reset: true
    });
    sr.reveal('.cBusiness');
    sr.reveal('.centPic');
    sr.reveal('.wwa');
    //sr.reveal('.member');

    /*menu*/
    function calculateScroll() {
        var contentTop = [];
        var contentBottom = [];
        var winTop = $(window).scrollTop();
        var rangeTop = 200;
        var rangeBottom = 500;
        $('.navmenu').find('a').each(function () {
            contentTop.push($($(this).attr('href')).offset().top);
            contentBottom.push($($(this).attr('href')).offset().top + $($(this).attr('href')).height());
        })
        $.each(contentTop, function (i) {
            if (winTop > contentTop[i] - rangeTop && winTop < contentBottom[i] - rangeBottom) {
                $('.navmenu li')
                    .removeClass('active')
                    .eq(i).addClass('active');
            }
        })
    };

    $(document).ready(function () {
        calculateScroll();
        $(window).scroll(function (event) {
            calculateScroll();
        });
        $('.navmenu ul li a').click(function () {
            $('html, body').animate({
                scrollTop: $(this.hash).offset().top - 80
            }, 800);
            return false;
        });
    });
</script>
<script type="text/javascript" charset="utf-8">
    jQuery(document).ready(function () {
        jQuery(".pretty a[rel^='prettyPhoto']").prettyPhoto({
            animation_speed: 'normal',
            theme: 'light_square',
            slideshow: 3000,
            autoplay_slideshow: true,
            social_tools: ''
        });









    });
</script>