<!--home start-->

<!--<div class="otherpagestop">
    <div class="row">
        <div class="col-md-2 col-xs-6">
            <div>
                <a href="#">
                    <img src="images/logo.png" width="100%">
                </a>
            </div>
        </div>
        <div class="col-md-10 col-xs-6 otherpagestitle">
            <h4 style="float: right;">TEAM</h4>
        </div>
    </div>
</div>-->
<div id="menuF" class="fixed transbg">
            <div class="container" style="">
                <div class="row">
                    <div class="logo col-md-4">
                        <div>
                            <a href="#">
                                <img src="images/logo.png">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="navmenu" style="text-align: center;">
                            <ul id="menu" style=" margin-top: 2%;">
                                <li><a href="#home">Home</a>
                                </li>
                                <li><a href="#aboutreach">About</a>
                                </li>
                                <li><a href="#events">Events</a>
                                </li>
                                <li><a href="#newsletters">News</a>
                                </li>
                                <li><a href="#photos">Gallery</a>
                                </li>
                                <li><a href="#videos">Videos</a>
                                </li>
                                <li class="last"><a href="#contact">Contact</a>
                                </li>
                                <!--<li><a href="#events">Features</a></li-->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>



<div class="background-image"></div>
<div class="container ">

    <div class="toppadding upspacer" ng-if="!mobile" ng-repeat="memeber in team">
        <div class="row teamtextstyle" ng-if="$index % 2 == 0">
            <div class="col-md-3 textcenter">

                <img class="img-responsive" src="images\picTeam\{{memeber.photo}}" err-src="images/picTeam/error.png" style="display: initial;">
            </div>
            <div class="col-md-5">
                <h4 ng-if="member.name != ''">{{memeber.name | capitalize}}</h4>
                <h5 ng-if="member.designation != ''">{{memeber.designation | capitalize}}</h5>
                <p ng-if="member.desc != ''">{{memeber.desc }}</p>
                <div>

                    <div class="teamsharediv" ng-if='member.facebook != "8"'>{{member.facebook}}<a href="{{memeber.facebook}}"><i class="fa fa-facebook-square" style="font-size: xx-large;"></i></a>
                    </div>
                    <div class="teamsharediv" ng-if="member.twitter != ''"><a href="{{memeber.twitter}}"><i class="fa fa-twitter" style="font-size: xx-large;" ></i></a>
                    </div>
                    <div class="teamsharediv" ng-if="member.google != ''"><a href="{{memeber.google}}"><i class="fa fa-google-plus-square" style="font-size: xx-large;"></i></a>
                    </div>
                    <div class="teamsharediv" ng-if="member.linkedin != ''"><a href="{{memeber.linkedin}}"><i class="fa fa-linkedin" style="font-size: xx-large;"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row teamtextstyle" ng-if="$index % 2 != 0">

            <div class="col-md-offset-4 col-md-5">
                <h4 ng-if="member.name != ''">{{memeber.name | capitalize}}</h4>
                <h5 ng-if="member.designation != ''">{{memeber.designation | capitalize}}</h5>
                <p ng-if="member.desc != ''">{{memeber.desc}}</p>
                <div>
                    <div style="display: inline-block; padding: 10px;" ng-if="member.facebook != ''"><a href="{{memeber.facebook}}"><i class="fa fa-facebook-square" style="font-size: xx-large;"></i></a>
                    </div>
                    <div style="display: inline-block; padding: 10px;" ng-if="member.twitter != ''"><a href="{{memeber.twitter}}"><i class="fa fa-twitter" style="font-size: xx-large;" ></i></a>
                    </div>
                    <div style="display: inline-block; padding: 10px;" ng-if="member.google != ''"><a href="{{memeber.google}}"><i class="fa fa-google-plus-square" style="font-size: xx-large;"></i></a>
                    </div>
                    <div style="display: inline-block; padding: 10px;" ng-if="member.linkedin != ''"><a href="{{memeber.linkedin}}"><i class="fa fa-linkedin" style="font-size: xx-large;"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 textcenter">
                <img class="img-responsive" src="images\picTeam\{{memeber.photo}}" err-src="images/picTeam/error.png" style="display: initial;">
            </div>
        </div>

    </div>




    <div class="toppadding upspacer" ng-if="mobile" ng-repeat="memeber in team">
        <div class="row teamtextstyle">
            <div class="col-md-3 textcenter">

                <img class="img-responsive" src="images\picTeam\{{memeber.photo}}" err-src="images/picTeam/error.png" style="display: initial;">
            </div>
            <div class="col-md-5">
                <h4 class="textcenter" ng-if="member.name != ''">{{memeber.name | capitalize}}</h4>
                <h5 class="textcenter" ng-if="member.designation != ''">{{memeber.designation | capitalize}}</h5>
                <p class="textcenter" ng-if="member.desc != ''">{{memeber.desc}}</p>
                <div class="textcenter">
                    <div style="display: inline-block; padding: 10px;" ng-if="member.facebook != ''"><a href="{{memeber.facebook}}"><i class="fa fa-facebook-square" style="font-size: xx-large;"></i></a>
                    </div>
                    <div style="display: inline-block; padding: 10px;" ng-if="member.twitter != ''"><a href="{{memeber.twitter}}"><i class="fa fa-twitter" style="font-size: xx-large;" ></i></a>
                    </div>
                    <div style="display: inline-block; padding: 10px;" ng-if="member.google != ''"><a href="{{memeber.google}}"><i class="fa fa-google-plus-square" style="font-size: xx-large;"></i></a>
                    </div>
                    <div style="display: inline-block; padding: 10px;" ng-if="member.linkedin != ''"><a href="{{memeber.linkedin}}"><i class="fa fa-linkedin" style="font-size: xx-large;"></i></a>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<div class="otherfooter">
    <div class="row">
        <div class="col-md-6 text-left copy">
            <p>Copyright &copy; 2016 Pixolo Webworks. All Rights Reserved.</p>
        </div>
    </div>
</div>