<!--home start-->

<div id="home">

    <div id="menuF" class="fixed transbg">
        <div class="container" style="">
            <div class="row">
                <div class="logo col-md-4">
                    <div>
                        <a href="#">
                            <img src="images/logo.png">
                        </a>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="navmenu" style="text-align: center;">
                        <ul id="menu" style=" margin-top: 2%;">
                            <li class="active">videos</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
